{% extends "base.html" %}
{%block content %}
<div>
       <div class="petname">
  		   <h3>Name:{{pet.name|capfirst}}</h3>
    	   <p>Species:{{pet.species}}</p>
    	   {% if pet.breed%}
    	   <p>Breed:{{pet.breed}}</p>
    	   {% endif %}
    	   <p>Description:{{pet.description}}</p>
    	   <p>Sex:{{pet.sex}}</p>
    	   <p>Age:{{pet.age}}</p>
    	   {% if pet.vaccinations.all %}
    	       <p> vaccination for:</p>
    	       <ul>
    	       	{% for vaccination in pet.vaccinations.all %}
    	       	   <li>{{vaccination.name}}</li>
    	       	   {% endfor %}
    	       	</ul>
    	       	{% endif %}
       
       </div>
</div>
{%endblock%}